

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff !important; 
}
.nav-link {
    color: #c00817 !important; 
    opacity: 80% !important;
}

#basic-nav-dropdown{
  font-weight: 500 !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  
  background: #ff4654;
  border: none;
}


.dropdown-menu > .dropdown-item{
  background-color:#ff4654 !important ;
  text-align: center !important;
  font-weight: 500;
  color: #c00817 !important;
}
.dropdown-menu > .dropdown-item:hover {
  color: white !important;

}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
  margin-left: 100px;}

    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 13px !important;
      padding-left: 13px !important;
}

.dropdown-menu[data-bs-popper] {
  top: 108% !important;
  
 
}

.artAndCulture .dropdown-menu[data-bs-popper] {
 
  left: -31px !important;
 
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  margin-top: 14px;
}


}

